<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.headerTd {
    width: 100px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.contentData {
    word-break: break-all

}

</style>
</head>
<body>
    <h3>Executed contract</h3>
    <table>
        <tr>
            <td class="headerTd">Contract</td>
            <td class="contentData">@contract</td>
        </tr>
        <tr>
            <td class="headerTd">When</td>
            <td class="contentData">@when</td>
        </tr>
        <tr>
            <td class="headerTd">In</td>
            <td class="contentData">@inWhen</td>
        </tr>
        <tr>
            <td class="headerTd">Then</td>
            <td class="contentData">@then</td>
        </tr>
        <tr>
            <td class="headerTd">In</td>
            <td class="contentData">@inThen</td>
        </tr>
    </table>

    <h3>Received Event - Request Details</h3>
    <table>
        <tr>
            <td class="headerTd">Event log Identifier</td>
            <td class="contentData">@eventLogIdentifier</td>
        </tr>
        <tr>
            <td class="headerTd">timestamp</td>
            <td class="contentData">@timestampEvent</td>
        </tr>
        <tr>
            <td class="headerTd">Url</td>
            <td class="contentData">@urlEvent</td>
        </tr>
        <tr>
            <td class="headerTd">Body</td>
            <td class="contentData">@bodyEvent</td>
        </tr>
        <tr>
            <td class="headerTd">Headers</td>
            <td class="contentData">@headersEvent</td>
        </tr>
    </table>

    <h3>Executed Action - Response Details</h3>
    <table>
        <tr>
            <td class="headerTd">timestamp</td>
            <td class="contentData">@timestampSubscriber</td>
        </tr>
        <tr>
            <td class="headerTd">Url</td>
            <td class="contentData">@urlSubscriber</td>
        </tr>
        <tr>
            <td class="headerTd">Http Status</td>
            <td class="contentData">@httpStatusSubscriber</td>
        </tr>
        <tr>
            <td class="headerTd">Body</td>
            <td class="contentData">@bodySubscriber</td>
        </tr>
        <tr>
            <td class="headerTd">Headers</td>
            <td class="contentData">@headersSubscriber</td>
        </tr>
    </table>

</body>
</html>

